<template>
    <div>
        <h1>Create Task</h1>
        <form class="custom-form" @submit.prevent="onSubmit">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" v-model="task.title" id="title" placeholder="Title">
          </div>
          <div class="form-group">
            <label for="body">Body</label>
            <textarea class="form-control" v-model="task.body" id="body" cols="30" rows="10" placeholder="Body"></textarea>
          </div>
          <div class="form-group">
            <label for="due-date">Due Date</label>
            <input type="date" class="form-control" v-model="task.dueDate" id="title" placeholder="Due Date">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-secondary">Create</button>
          </div>
        </form>
    </div>
</template>


<script>
	import * as taskService from '../../services/TaskService'

	export default {
		name: 'task-create',
		data() {
			return {
				task: {
					title: '',
					body: '',
					dueDate: ''
				}
			}
		},

		methods: {
			onSubmit: async function() {
				const request = {
					task: this.task
				}

				await taskService.createTask(request)
				this.$router.push({name: 'task-all'})
			}
		} 
	}
</script>