<template>
    <div>
        <h1>Edit Task</h1>
        <form class="custom-form" @submit.prevent="onSubmit">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" v-model="task.title" id="title" placeholder="Title">
          </div>
          <div class="form-group">
            <label for="body">Body</label>
            <textarea class="form-control" v-model="task.body" id="body" cols="30" rows="10" placeholder="Body"></textarea>
          </div>
          <div class="form-group">
            <label for="due-date">Due Date</label>
            <input type="date" class="form-control" v-model="task.dueDate" id="title" placeholder="Due Date">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-secondary">Save Changes</button>
          </div>
        </form>
    </div>
</template>


<script>
	import * as taskService from '../../services/TaskService'
	import moment from 'moment'

	export default {
		name: 'task-edit',
		data() {
			return {
				task: {
					title: '',
					body: '',
					dueDate: ''
				}
			}
		},
		beforeRouteEnter(to, from, next) {
			taskService.getTaskById(to.params.id)
			.then(response => {
				// console.log(response)
				if(!response) {
					next('/tasks')
				}else{
					next(vm => {
						const task = response.data.task
						task.dueDate = moment(task.dueDate).format('YYYY-MM-DD')
						vm.task = task
					})
				}
			})
		},
		methods: {
			onSubmit: async function() {
				const request = {
					task: this.task
				}

				await taskService.updateTask(request)
				this.$router.push({name: 'task-all'})
			}
		} 
	}
</script>