<template>
    <div>
        <h1>Login</h1>
        <form class="custom-form" @submit.prevent="onSubmit">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" v-model="username" id="username" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" v-model="password" id="password" placeholder="Password">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-secondary">Submit</button>
          </div>
        </form>
    </div>
</template>

<script>
    import * as auth from '../../services/AuthService'

    export default {
        name: 'login',
        data () {
          return {
              username: '',
              password: ''
          }
        },
        methods: {
            onSubmit: async function() {
                const user = {
                  username: this.username,
                  password: this.password
                }
                await auth.login(user);
                this.$router.push({name: 'home'})
            }
        }
    }
    
</script>