<template>
    <div>
        <h1>Register Route</h1>
        <form class="custom-form" @submit.prevent="onSubmit">
          <div class="form-group">
            <label for="firstname">Firstname</label>
            <input type="text" class="form-control" v-model="firstname" id="firstname" placeholder="Firstname">
          </div>
          <div class="form-group">
            <label for="lastname">Lastname</label>
            <input type="text" class="form-control" v-model="lastname" id="lastname" placeholder="Lastname">
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" v-model="username" id="username" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" v-model="password" id="password" placeholder="Password">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-secondary">Register</button>
          </div>
        </form>
    </div>
</template>

<script>
    import * as auth from '../../services/AuthService'

    export default {
        name: 'register',
        data () {
            return {
                username: '',
                firstname: '',
                lastname: '',
                password: ''
            }
        },
        methods: {
            onSubmit: async function() {
                const user = {
                    username: this.username,
                    password: this.password,
                    firstname: this.firstname,
                    lastname: this.lastname
                }
                const registerPromise = auth.registerUser(user)
                const loginPromise = auth.login(user)
                await Promise.all([registerPromise, loginPromise])
                this.$router.push({name: 'home'})
            }
        }
    }
    
</script>