<template>
    <footer id="custom-footer">
        <span class="mr-4">&copy; 2019 Midstackdev</span>
        <span class="mr-4">Private</span>
        <span class="">Terms of service</span>
    </footer>
</template>